{% include "header.html" %}
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        {% for p in post %}
                        <a href="post.html">


                            <h2 class="post-title">{{p.title}}</h2>
                            <h3 class="post-subtitle">{{p.subtitle}}</h3>

                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href=""{‌{ url_for('show_post', index=p.id) }}">Author</a>
                            on {{p.date}}
                        </p>
                    </div>
                      {% endfor %}
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->

        <!-- Footer-->
        {% include "footer.html" %}
